html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topnav1{
    background-color: #316DC3;
    padding-left: 50px;
    color: white;
    height: 55px;
    margin-top: -10px;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.topnav1>p {
    display: inline-block;
    padding: 0 50px 0 150px;
    font-size: 15px;
}

.button {
    color: #427900;
    font-size: 11px;
    border: 1px solid black;
    padding: 8px 14px 8px 14px;
    text-align: center;
    background-color: #F5F5F5;
    margin: 0 1px 0 1px;
    text-decoration: none;
    box-shadow:-2 2 #427900;
    border-radius: 2px;
}

.fa {
    color: white;
}

.fa>li:hover {
    background-color: #316DD9;
}

.fa>li{
    list-style: none;
    display: inline-block;
    padding: 7px 10px 7px 10px;
    font-size: 18px;
}

#wa {
    background-color:#0CC042 ;
    color: white;
    border-radius: 5px;
    padding: 0px 1.5px 1.5px 1.5px;
}

.topnav2 {
    background-color: #F7F8FA;
    padding: 0 0 3px 60px;
    margin-top: 45px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}

.logo {
    width: 15%;
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 250px;
}

.menu{
    display: inline-block;
    padding-top: 20px;
    padding-left: 6px;
    position: relative;
}

#button{
    text-decoration: none;
    color: gray;
    padding:8px 14px 8px 14px;
    background-color: #F7F8FA;
    font-size: 13px;
    border-radius: 18px;
    font-weight: 600;
    text-align: center;
    border: none;
    margin-bottom: 12px;
}

#button>i, #contentextra>i {
    color: gray;
    font-weight: bolder;
}


#content, #contentdon {
    display: none;

}

#content a, #contentdon a {
    text-decoration: none;
    color: gray;
    display: inline-block;
    padding: 10px;
    min-width: 160px;
    font-weight: bolder;
}

.menu:hover #content {
    display: block;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: white;
    font-size: 12px;
    font-weight: 600px;
    margin-left: 8px;
}

.menu:hover #contentdon {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: white;
    font-size: 12px;
    font-weight: 600px;
}

#button:hover, #button:hover>i{
    background-color: #316DD9;
    color: white;
}

#button.active, #button.active>i{
    background-color: #316DD9;
    color: white;
}

#content a:hover, #contentextra:hover>i {
    background-color: #316DD9;
    color: white;
}

#contentextra:hover>i{
    background-color: #316DD9;
    color: white;
}

#educontent, #medcontent, #welcontent, #acdcontent, #doncontent, #smtcontent{
    display: none;
}

.edu:hover #educontent{
    display: block;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: white;
    font-size: 12px;
    font-weight: 600px;
    left: 100%;
    top: 0;
}

.med:hover #medcontent{
    display: block;
    position: absolute;
    width: 270px;
    z-index: 1;
    background-color: white;
    font-size: 12px;
    font-weight: 600px;
    left: 100%;
    top: 36px;
}

.wel:hover #welcontent{
    display: block;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: white;
    font-size: 12px;
    font-weight: 600px;
    left: 100%;
    top: 72px;
}

.acd:hover #acdcontent{
    display: block;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: white;
    font-size: 12px;
    font-weight: 600px;
    left: 100%;
    top: 324px;
}

.don:hover #doncontent{
    display: block;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: white;
    font-size: 12px;
    font-weight: 600px;
    right: 100%;
    top: 180px;
}

.smt:hover #smtcontent{
    display: block;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: white;
    font-size: 12px;
    font-weight: 600px;
    left: 100%;
    top: 0;
}

#slideimg {
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 100px;
}

#banner>p, #banner{
    background-color: #2755E9;
    color: white;
    width: 80%;
    margin: 10px auto 10px auto;
}

.intro, .wwrd {
    text-align: center;
    font-family: merriweather;
    background-color: #F7F8FA;
    left: 0;
    right: 0;
}

.intro>h1 {
    padding-top: 16px;
    size: 40px;
}

.intro>p{
    padding: 0 200px 0 200px;
    color: gray;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 2em;
}

.work {
    background-color: #2755E9;
    padding-left: 80px;
}

#spans{
    display: inline-block;
    text-align: center;
    padding: 25px;
    font-family: merriweather;
    font-weight: lighter;
    color: white;
}

#icons {
    width: 20%;
}

.wwrd {
    padding-top: 50px;
}

#wwrd {
    width: 50%;
    margin: auto;
    border-spacing: 30px;
}

#tabledt {
    padding:20px 60px 20px 60px;
    text-transform: uppercase;
    font-weight: 800;
    color: #2755E9;
    min-width: 230px;
    background-color: white;
    box-shadow: 0 0 11px gray;
}

#tabledt>img {
    width: 30%;
}

.missions{
    font-family: merriweather;
    padding: 0 100px 0 110px;
    float: left;
}

#missions {
    border-spacing: 20px;
    margin-left: -15px;
    display: inline-block;
}

#missionstd {
    padding: 10px 80px 10px 10px;
    color: #2755E9;
    font-weight: 800;
    background-color: #F7F8FA;
    min-width: 180px;
    box-shadow: 0 0 1px gray;
}

#missionstd>p {
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
}

.events {
    display: inline;
    font-family: sans-serif;
    padding: 0px 100px 0 50px;
    font-size: 14px;
}

.events p {
    width: 220px;
    display: inline-block;
}

.images {
    text-align: center;
    padding: 40px 0 150px 0;
    font-family: merriweather;
}

.pictures>a>img {
    width: 220px;
    padding: 20px;
}

.pictures>a>img:hover {
    opacity: 50%;
}
 
.footer {
    background-color: #25272E;
    font-size: 14px;
    font-weight: 500px;
    position: absolute;
    padding-top: 30px;
    padding-bottom: 80px;
    left: 0;
    right: 0;
}

#fi {
    color: olive;
}

#left {
    color: #A5A5A6;
    float: left;
    width: 400px;
    padding: 0 80px 0 100px; 
}

#middle {
    display: inline-block;
    color: white;
    font-family: merriweather;
    width: 300px;
    padding: 0 80px 0 0;
}

#right {
    display: inline-block;
    color: white;
    font-family: merriweather;
    width: 300px;
    padding: 0 70px 0 0;
}

#fti {
    margin-right: 5px;
    padding: 10px 13px 10px 13px;
    background-color: #2755E9;
    border-radius: 50px;
    font-size: 18px;
}

.footer2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2755E9;
    padding: 0 0 0 100px;
    font-weight: 600px;
    font-size: 12px;
    color: white;
}

#topbutton>i {    
    background: rgba(0, 0, 0, 0.1);
    bottom: 30px;
    height: 60px;
    padding: 1px;
    position: fixed;
    right: 30px;
    text-align: center;
    text-decoration: none;
    width: 60px;
    font-size: 52px;
}


#topbutton>i:hover {    
    background: rgba(0, 0, 0, 0.5);
    bottom: 30px;
    height: 60px;
    padding: 1px;
    position: fixed;
    right: 30px;
    text-align: center;
    text-decoration: none;
    width: 60px;
    font-size: 52px;
}
@media only screen and (max-width:"800px"){
    .wwrd{
        width:400px;
        display: block;
    }
}
@media only screen and (max-width:"800px"){
    .work{
        width:400px;
        display: block;
    }}
@media only screen and (max-width:"800px"){
        .missions{
            width:400px;
            display: block;
        }}
 @media only screen and (max-width:"800px"){
            .intro{
                width:400px;
                text-align: center;
                font-size: medium;
            }}
@media only screen and (max-width:"800px"){
    .topnav1 ul li a p{
         width:400px;
        text-align: center;}
                }
                
 .missions{
     display: flexbox;
 }  
 .work{
     display: flexbox;
 }  
 .wwrd{
     display: flexbox;
 }           
